version: "2"
volumes:
  node-modules:
services:
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile-app
    ports:
      - 8080:80
  test_client:
    build:
      context: .
      dockerfile: ./docker/Dockerfile-test_client
    depends_on:
      - app
    environment:
      - TARGET_HOST=http://app
    volumes:
      - node-modules:/src/node_modules/
    external_links:
      # These are all the `server_name`s that the nginx server is listening on
      - app:pif.gov
      - app:apply.pif.gov
      - app:www.pif.gov
      - app:paygap.pif.gov
      - app:tophealth.pif.gov
      - app:18f.gov
      - app:www.18f.gov
      - app:pages.18f.gov
      - app:digitalgov.gov
      - app:www.digitalgov.gov
      - app:emerging.digital.gov
      - app:summit.digitalgov.gov
      - app:www.digital.gov
      - app:openopps.digitalgov.gov
      - app:plainlanguage.gov
      - app:blogging-guide.18f.gov
      - app:writing-lab-guide.18f.gov
      - app:iaa-forms.18f.gov
      - app:digital-acquisition-playbook.18f.gov
      - app:automated-testing-playbook.18f.gov
      - app:design-principles-guide.18f.gov
      - app:contracting-cookbook.18f.gov
      - app:grouplet-playbook.18f.gov
      - app:guides-template.18f.gov
      - app:lean-product-design.18f.gov
      - app:open-source-guide.18f.gov
      - app:plain-language-tutorial.18f.gov
      - app:testing-cookbook.18f.gov
      - app:api-all-the-x.18f.gov
      - app:api-program.18f.gov
      - app:api-usability-testing.18f.gov
      - app:digitalaccelerator.18f.gov
      - app:innovation-toolkit-prototype.18f.gov
      - app:open-source-program.18f.gov
      - app:modularcontracting.18f.gov
      - app:v2.designsystem.digital.gov
      - app:micropurchase.18f.gov
      - app:acqstack-journeymap.18f.gov
      - app:boise.18f.gov
      - app:paid-leave-prototype.18f.gov
      - app:agile-bpa.18f.gov
      - app:slides.18f.gov
      - app:fedspendingtransparency.18f.gov
      - app:www.findtreatment.gov
      - app:private-eye.18f.gov
      - app:atf-eregs.18f.gov
      - app:agile-labor-categories.18f.gov
      - app:handbook.18f.gov
      - app:frontend.18f.gov
      - app:proposal.pif.gov
      - app:www.search.gov
      - app:ads.18f.gov
      - app:usability.gov
      - app:www.usability.gov
      - app:design.login.gov
      - app:developer.login.gov
      - app:partners.login.gov
      - app:accessibility.digital.gov
      - app:components.designsystem.digital.gov
      - app:climate-data-user-study.18f.gov
      - app:govconnect.18f.gov
      - app:portfolios.18f.gov
      - app:fac.gov
      - app:usdigitalregistry.digitalgov.gov
      - app:federalistapp.18f.gov
      - app:agile.18f.gov
      - app:brand.18f.gov
      - app:content-guide.18f.gov
      - app:derisking-guide.18f.gov
      - app:ux-guide.18f.gov
      - app:accessibility.18f.gov
      - app:eng-hiring.18f.gov
      - app:engineering.18f.gov
      - app:product-guide.18f.gov
      - app:methods.18f.gov
      - app:identityequitystudy.gsa.gov
      - app:join.tts.gsa.gov
      - app:demo.pra.digital.gov
      - app:code.gov
      - app:www.code.gov
      - app:staging.code.gov
      - app:api.code.gov
      - app:fehrm.gov
