# Originally from https://github.com/18F/federalist-redirects/blob/b60293b49d01c429092195bc6d446690423dcf3b/nginx.conf
server {
  listen {{ PORT }};
  set $target_domain presidentialinnovationfellows.gov;
  server_name pif.gov www.pif.gov;
  return 302 https://$target_domain$request_uri;
}

server {
  listen {{ PORT }};
  set $target_domain 18f.gsa.gov;
  server_name 18f.gov www.18f.gov;
  add_header X-Government-Innovation Disrupted;
  add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload';
  return 302 https://$target_domain$request_uri;
}

server {
  listen {{ PORT }};
  set $target_domain join.18f.gov;
  server_name jobs.18f.gov;
  return 302 https://$target_domain$request_uri;
}

server {
  listen {{ PORT }};
  server_name join.18f.gov;
  return 302 https://18f.gsa.gov/join/;
}


# api-all-the-x.18f.gov to github.com/18F/API-All-the-X
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/API-All-the-X;
  server_name api-all-the-x.18f.gov;
  return 301 https://$target_domain;
}

# api-program.18f.gov to github.com/18F/api-program
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/api-program;
  server_name api-program.18f.gov;
  return 301 https://$target_domain;
}

# api-usability-testing.18f.gov to github.com/18F/API-Usability-Testing
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/API-Usability-Testing;
  server_name api-usability-testing.18f.gov;
  return 301 https://$target_domain;
}


# digitalaccelerator.18f.gov to github.com/18F/digitalaccelerator
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/digitalaccelerator;
  server_name digitalaccelerator.18f.gov;
  return 301 https://$target_domain;
}

# www.digitalgov.gov and www.digital.gov to digital.gov
server {
  listen {{ PORT }};
  set $target_domain digital.gov;
  server_name www.digitalgov.gov www.digital.gov;
  return 301 https://$target_domain$request_uri;
}

# digitalgov.gov to digital.gov
server {
  listen {{ PORT }};
  set $target_domain digital.gov;
  server_name digitalgov.gov;
  add_header Strict-Transport-Security 'max-age=63072000; includeSubDomains; preload';
  return 301 https://$target_domain$request_uri;
}

# summit.digitalgov.gov to digital.gov
server {
  listen {{ PORT }};
  set $target_domain digital.gov;
  server_name summit.digitalgov.gov;
  return 302 https://$target_domain$request_uri;
}

# demo.digitalgov.gov to demo.digital.gov
server {
  listen {{ PORT }};
  set $target_domain demo.digital.gov;
  server_name demo.digitalgov.gov;
  return 301 https://$target_domain$request_uri;
}

# openopps.digitalgov.gov to openopps.usajobs.gov
server {
  listen {{ PORT }};
  set $target_domain openopps.usajobs.gov;
  server_name openopps.digitalgov.gov;
  return 301 https://$target_domain$request_uri;
}


# blogging-guide.18f.gov to handbook.18f.gov/blogging
server {
  listen {{ PORT }};
  set $target_domain handbook.18f.gov/blogging/;
  server_name blogging-guide.18f.gov;
  return 301 https://$target_domain;
}

# v2.designsystem.digital.gov to designsystem.digital.gov
server {
  listen {{ PORT }};
  set $target_domain designsystem.digital.gov;
  server_name v2.designsystem.digital.gov;
  return 301 https://$target_domain$request_uri;
}

# writing-lab-guide.18f.gov to handbook.18f.gov/writing-lab
server {
  listen {{ PORT }};
  set $target_domain handbook.18f.gov/writing-lab;
  server_name writing-lab-guide.18f.gov;
  return 301 https://$target_domain;
}


# iaa-forms.18f.gov to github.com/18F/iaa-forms
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/iaa-forms;
  server_name iaa-forms.18f.gov;
  return 301 https://$target_domain;
}


# innovation-toolkit-prototype.18f.gov to github.com/18F/innovation-toolkit-prototype
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/innovation-toolkit-prototype;
  server_name innovation-toolkit-prototype.18f.gov;
  return 301 https://$target_domain;
}



# digital-acquisition-playbook.18f.gov to github.com/18F/digital-acquisition-playbook
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/digital-acquisition-playbook;
  server_name digital-acquisition-playbook.18f.gov;
  return 301 https://$target_domain;
}

# automated-testing-playbook.18f.gov to github.com/18F/automated-testing-playbook
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/automated-testing-playbook;
  server_name automated-testing-playbook.18f.gov;
  return 301 https://$target_domain;
}


# design-principles-guide.18f.gov to github.com/18F/design-principles-guide
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/design-principles-guide;
  server_name design-principles-guide.18f.gov;
  return 301 https://$target_domain;
}


# contracting-cookbook.18f.gov to github.com/18F/contracting-cookbook
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/contracting-cookbook;
  server_name contracting-cookbook.18f.gov;
  return 301 https://$target_domain;
}


# grouplet-playbook.18f.gov to github.com/18F/grouplet-playbook
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/grouplet-playbook;
  server_name grouplet-playbook.18f.gov;
  return 301 https://$target_domain;
}


# guides.18f.gov to github.com/18F/guides-template
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/guides-template;
  server_name guides.18f.gov;
  return 301 https://$target_domain;
}


# guides-template.18f.gov to github.com/18F/guides-template
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/guides-template;
  server_name guides-template.18f.gov;
  return 301 https://$target_domain;
}


# lean-product-design.18f.gov to github.com/18F/lean-product-design
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/lean-product-design;
  server_name lean-product-design.18f.gov;
  return 301 https://$target_domain;
}

# modularcontracting.18f.gov to https://github.com/18F/Modular-Contracting-And-Agile-Development
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/Modular-Contracting-And-Agile-Development;
  server_name modularcontracting.18f.gov;
  return 301 https://$target_domain;
}


# open-source-guide.18f.gov to github.com/18F/open-source-guide
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/open-source-guide;
  server_name open-source-guide.18f.gov;
  return 301 https://$target_domain;
}


# open-source-program.18f.gov to github.com/18F/open-source-program
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/open-source-program;
  server_name open-source-program.18f.gov;
  return 301 https://$target_domain;
}


# partnership-playbook.18f.gov to 18f.gsa.gov/partnership-principles
server {
  listen {{ PORT }};
  set $target_domain 18f.gsa.gov/partnership-principles;
  server_name partnership-playbook.18f.gov;
  return 301 https://$target_domain;
}


# plain-language-tutorial.18f.gov to github.com/18F/plain-language-tutorial
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/plain-language-tutorial;
  server_name plain-language-tutorial.18f.gov;
  return 301 https://$target_domain;
}


# testing-cookbook.18f.gov to github.com/18F/testing-cookbook
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/testing-cookbook;
  server_name testing-cookbook.18f.gov;
  return 301 https://$target_domain;
}

server {
  listen {{ PORT }};
  set $target_domain presidentialinnovationfellows.gov/apply/;
  server_name apply.pif.gov;
  return 302 https://$target_domain;
}

# micropurchase.18f.gov to github.com/18f/micropurchase-archive
server {
  listen {{ PORT }};
  set $target_domain github.com/18f/micropurchase-archive;
  server_name micropurchase.18f.gov;
  return 301 https://$target_domain;
}


# federalist-modern-team-template.18f.gov to github.com/18F/federalist-modern-team-template
server {
  listen {{ PORT }};
  set $target_domain github.com/18F/federalist-modern-team-template;
  server_name federalist-modern-team-template.18f.gov;
  return 301 https://$target_domain;
}

# boise.18f.gov to github.com/18f/boise
server {
  listen {{ PORT }};
  set $target_domain github.com/18f/boise;
  server_name boise.18f.gov;
  return 301 https://$target_domain;
}

# acqstack-journeymap.18f.gov to github.com/18f/acqstack-journeymap
server {
  listen {{ PORT }};
  set $target_domain github.com/18f/acqstack-journeymap;
  server_name acqstack-journeymap.18f.gov;
  return 301 https://$target_domain;
}

# agile-bpa.18f.gov to github.com/18f/ads-bpa
server {
  listen {{ PORT }};
  set $target_domain github.com/18f/ads-bpa;
  server_name agile-bpa.18f.gov;
  return 301 https://$target_domain;
}

# slides.18f.gov to github.com/18f/slides
server {
  listen {{ PORT }};
  set $target_domain github.com/18f/slides;
  server_name slides.18f.gov;
  return 301 https://$target_domain;
}

# fedspendingtransparency.18f.gov to https://github.com/fedspendingtransparency/fedspendingtransparency.github.io
server {
  listen {{ PORT }};
  set $target_domain github.com/fedspendingtransparency/fedspendingtransparency.github.io;
  server_name fedspendingtransparency.18f.gov;
  return 301 https://$target_domain;
}

# C2: cap.18f.gov and requests.18f.gov to https://handbook.18f.gov/purchase-requests/
server {
  listen {{ PORT }};
  set $target_domain docs.google.com/forms/d/e/1FAIpQLSd-GoOE9xWWfJvdZNRP3SE7mj5ysI_RfM8brxdG8YpyJV9yKA/viewform;
  server_name cap.18f.gov;
  return 301 https://$target_domain;
}
server {
  listen {{ PORT }};
  set $target_domain docs.google.com/forms/d/e/1FAIpQLSd-GoOE9xWWfJvdZNRP3SE7mj5ysI_RfM8brxdG8YpyJV9yKA/viewform;
  server_name requests.18f.gov;
  return 301 https://$target_domain;
}
