# pif.gov and www.pif.gov to presidentialinnovationfellows.gov
server {
  listen {{ PORT }};
  set $target_domain presidentialinnovationfellows.gov;
  server_name pif.gov www.pif.gov;
  add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload';
  return 302 https://$target_domain$request_uri;
}

# www.digital.gov to digital.gov
server {
  listen {{ PORT }};
  set $target_domain digital.gov;
  server_name www.digital.gov;
  return 301 https://$target_domain$request_uri;
}

# usability.gov to digital.gov/topics/usability
server {
  listen {{ PORT }};
  set $target_domain digital.gov/topics/usability/;
  server_name usability.gov;
  add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload';
  return 301 https://$target_domain;
}

# www.usability.gov to digital.gov/topics/usability/
server {
  listen {{ PORT }};
  set $target_domain digital.gov/topics/usability/;
  server_name www.usability.gov;
  add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload';
  return 301 https://$target_domain;
}

# plainlanguage.gov to www.plainlanguage.gov
server {
  listen {{ PORT }};
  set $target_domain www.plainlanguage.gov;
  server_name plainlanguage.gov;
  add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload';
  return 301 https://$target_domain$request_uri;
}

server {
  listen {{ PORT }};
  set $target_domain presidentialinnovationfellows.gov/apply/;
  server_name apply.pif.gov;
  return 302 https://$target_domain;
}

# paygap.pif.gov to pif.gov
server {
  listen {{ PORT }};
  set $target_domain pif.gov;
  server_name paygap.pif.gov;
  return 301 https://$target_domain;
}

# tophealth.pif.gov to pif.gov
server {
  listen {{ PORT }};
  set $target_domain pif.gov;
  server_name tophealth.pif.gov;
  return 301 https://$target_domain;
}

# www.findtreatment.gov to findtreatment.gov
server {
  listen {{ PORT }};
  set $target_domain findtreatment.gov;
  server_name www.findtreatment.gov;
  return 301 https://$target_domain$request_uri;
}

# proposal.pif.gov to form
server {
  listen {{ PORT }};
  set $target_domain docs.google.com/forms/d/e/1FAIpQLSeIVylFhpyyv9cBQFKnXa6x3sJsZN4HkkqhNcYgHfSHjv-5kw/viewform;
  server_name proposal.pif.gov;
  return 301 https://$target_domain;
}

# www.search.gov to search.gov
server {
  listen {{ PORT }};
  set $target_domain search.gov;
  server_name www.search.gov;
  add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload';
  return 301 https://$target_domain$request_uri;
}

# developer.login.gov to developers.login.gov
server {
  listen {{ PORT }};
  set $target_domain developers.login.gov;
  server_name developer.login.gov;
  return 301 https://$target_domain;
}

# fac.gov to www.fac.gov
server {
  listen {{ PORT }};
  set $target_domain www.fac.gov;
  server_name fac.gov;
  add_header Strict-Transport-Security 'max-age=31536000; preload';
  return 301 https://$target_domain$request_uri;
}

# partners.login.gov to www.login.gov/partners
server {
  listen {{ PORT }};
  server_name partners.login.gov;

  location = / {
    return 301 https://www.login.gov/partners/;
  }

  location ~ ^/product/?$ {
    return 301 https://www.login.gov/partners/our-services/;
  }

  location ~ ^/sandbox/?$ {
    return 301 https://developers.login.gov/;
  }

  location ~ ^/state-and-local/?$ {
    return 301 https://www.login.gov/partners/state-and-local/;
  }
}

# design.login.gov to www.login.gov
server {
  listen {{ PORT }};
  server_name design.login.gov;
  return 301 https://www.login.gov/;
}

# identityequitystudy.gsa.gov to gsa.gov...
server {
  listen {{ PORT }};
  server_name identityequitystudy.gsa.gov;

  location / {
    return 301 https://www.gsa.gov/governmentwide-initiatives/diversity-equity-inclusion-and-accessibility/equity-study-on-remote-identity-proofing;
  }
}

# join.tts.gsa.gov to tts.gsa.gov and handbook.tts.gsa.gov
server {
  listen {{ PORT }};
  server_name join.tts.gsa.gov;

  location ~ ^/working-at-tts/?$ {
    return 301 https://handbook.tts.gsa.gov/about-us/tts-history/;
  }

  location ~ ^/tts-offices/?$ {
    return 301 https://handbook.tts.gsa.gov/#tts-offices;
  }

  location ~ ^/join/PX-ContactCenterAnalysts/?$ {
    return 301 https://tts.gsa.gov/join/public-experience-contact-center-analyst.html;
  }

  location ~ ^/join/Communities-Collaboration-Branch-Chief/?$ {
    return 301 https://tts.gsa.gov/join/tts-platforms-and-services-communities-and-collaboration-branch-chief.html;
  }

  location / {
    return 301 https://tts.gsa.gov/join$request_uri;
  }

}

# code.gov to digital.gov
server {
  listen {{ PORT }};
  set $target_domain digital.gov/resources/requirements-for-achieving-efficiency-transparency-and-innovation-through-reusable-and-open-source-software/;
  server_name code.gov;
  return 301 https://$target_domain;
}

# www.code.gov to digital.gov
server {
  listen {{ PORT }};
  set $target_domain digital.gov/resources/requirements-for-achieving-efficiency-transparency-and-innovation-through-reusable-and-open-source-software/;
  server_name www.code.gov;
  return 301 https://$target_domain;
}

# staging.code.gov to digital.gov
server {
  listen {{ PORT }};
  set $target_domain digital.gov/resources/requirements-for-achieving-efficiency-transparency-and-innovation-through-reusable-and-open-source-software/;
  server_name staging.code.gov;
  return 301 https://$target_domain;
}

# api.code.gov to digital.gov
server {
  listen {{ PORT }};
  set $target_domain digital.gov/resources/requirements-for-achieving-efficiency-transparency-and-innovation-through-reusable-and-open-source-software/;
  server_name api.code.gov;
  return 301 https://$target_domain;
}

# fehrm.gov to www.fehrm.gov
server {
  listen {{ PORT }};
  set $target_domain www.fehrm.gov;
  server_name fehrm.gov;
  return 302 https://$target_domain$request_uri;
}
