---
path: ../out
memory: 64MB
stack: cflinuxfs2
buildpack: staticfile_buildpack
applications:
- name: pages-redirects
instances: 4
routes:
- route: pages-redirects.app.cloud.gov
- route: join.18f.gov
- route: jobs.18f.gov
- route: pif.gov
- route: www.pif.gov
- route: connect.gov
- route: www.connect.gov
- route: pages.18f.gov
- route: app.gov
- route: www.app.gov
- route: 18f.gov
- route: www.18f.gov
- route: digitalgov.gov
- route: www.digitalgov.gov
- route: demo.digitalgov.gov
- route: summit.digitalgov.gov
- route: www.digital.gov
{% for page in PAGE_CONFIGS -%}
- route: {{ page.to }}.{{ page.toDomain }}
{% endfor -%}
