---
path: ../out
memory: 64MB
stack: cflinuxfs3
buildpack: https://github.com/cloudfoundry/nginx-buildpack.git
applications:
- name: pages-redirects
instances: 4
routes:
- route: pages-redirects.app.cloud.gov
- route: pif.gov
- route: apply.pif.gov
- route: www.pif.gov
- route: paygap.pif.gov
- route: tophealth.pif.gov
- route: pages.18f.gov
- route: 18f.gov
- route: www.18f.gov
- route: digitalgov.gov
- route: www.digitalgov.gov
- route: accessibility.digital.gov
- route: emerging.digital.gov
- route: summit.digitalgov.gov
- route: www.digital.gov
- route: openopps.digitalgov.gov
- route: plainlanguage.gov
- route: blogging-guide.18f.gov
- route: v2.designsystem.digital.gov
- route: micropurchase.18f.gov
- route: acqstack-journeymap.18f.gov
- route: boise.18f.gov
- route: agile-bpa.18f.gov
- route: slides.18f.gov
- route: fedspendingtransparency.18f.gov
- route: www.findtreatment.gov
- route: atf-eregs.18f.gov
- route: private-eye.18f.gov
- route: agile-labor-categories.18f.gov
- route: handbook.18f.gov
- route: frontend.18f.gov
- route: proposal.pif.gov
- route: www.search.gov
- route: ads.18f.gov
- route: paid-leave-prototype.18f.gov
- route: usability.gov
- route: www.usability.gov
- route: developer.login.gov
- route: partners.login.gov
- route: components.designsystem.digital.gov
- route: climate-data-user-study.18f.gov
- route: govconnect.18f.gov
- route: portfolios.18f.gov
- route: fac.gov
- route: identityequitystudy.gsa.gov
- route: join.tts.gsa.gov
- route: demo.pra.digital.gov
- route: code.gov
- route: www.code.gov
- route: staging.code.gov
- route: api.code.gov
- route: fehrm.gov
{% for page in PAGE_CONFIGS -%}
- route: {{ page.to }}.{{ page.toDomain }}
{% endfor -%}
