---
path: ../out
memory: 64MB
stack: cflinuxfs3
buildpack: https://github.com/cloudfoundry/nginx-buildpack.git
applications:
- name: pages-redirects
instances: 4
routes:
- route: pages-redirects.app.cloud.gov
- route: pif.gov
- route: apply.pif.gov
- route: www.pif.gov
- route: paygap.pif.gov
- route: tophealth.pif.gov
- route: accessibility.digital.gov
- route: emerging.digital.gov
- route: www.digital.gov
- route: plainlanguage.gov
- route: v2.designsystem.digital.gov
- route: www.findtreatment.gov
- route: proposal.pif.gov
- route: www.search.gov
- route: usability.gov
- route: www.usability.gov
- route: developer.login.gov
- route: partners.login.gov
- route: components.designsystem.digital.gov
- route: fac.gov
- route: identityequitystudy.gsa.gov
- route: join.tts.gsa.gov
- route: demo.pra.digital.gov
- route: code.gov
- route: www.code.gov
- route: staging.code.gov
- route: api.code.gov
- route: fehrm.gov
{% for page in PAGE_CONFIGS -%}
- route: {{ page.to }}.{{ page.toDomain }}
{% endfor -%}
