worker_processes 1;

{% if not IS_DOCKER %}
daemon off;
error_log <%= ENV["APP_ROOT"] %>/nginx/logs/error.log;
{% endif %}

events { worker_connections 1024; }

http {
  charset utf-8;
  log_format cloudfoundry '$http_x_forwarded_for - $http_referer - [$time_local] "$request" $status $body_bytes_sent';

  {% if not IS_DOCKER %}
  access_log <%= ENV["APP_ROOT"] %>/nginx/logs/access.log cloudfoundry;
  port_in_redirect off; # Ensure that redirects do not include the internal container PORT
  {% endif %}

  default_type application/octet-stream;
  include mime.types;
  sendfile on;

  gzip on;
  gzip_disable "msie6";
  gzip_comp_level 6;
  gzip_min_length 1100;
  gzip_buffers 16 8k;
  gzip_proxied any;
  gunzip on;
  gzip_static always;
  gzip_types text/plain text/css text/js text/xml text/javascript application/javascript application/x-javascript application/json application/xml application/xml+rss;

  tcp_nopush on;
  keepalive_timeout 30;
  server_tokens off;

  server {
    listen {{ PORT }};
    server_name pages.18f.gov

    # -- Redirects for pages.18f.gov sites
    {% for page in PAGE_CONFIGS %}
    rewrite ^/{{ page.from }}(\/.*)?$ https://{{ page.to }}.{{ page.toDomain }}$1;
    {% endfor %}
    # -- end redirects for pages.18f.gov sites

    # -- Custom pages.18f.gov redirects from the old federalist-redirects app
    # Ref: https://github.com/18F/federalist-redirects/blob/b60293b49d01c429092195bc6d446690423dcf3b/nginx.conf#L85-L89
    rewrite ^/intake/.* https://18f.gsa.gov/contact/ redirect;
    rewrite ^/designstandards/.* https://standards.usa.gov/ redirect;
    rewrite ^/joining-18f/.* https://18f.gsa.gov/join/ redirect;
    rewrite ^/$ https://guides.18f.gov redirect;
    # -- end custom pages.18f.gov redirects

    # For everything else, proxy to the old Federalist bucket.
    # This portion will go away soon once all 18F pages are migrated to their
    # new subdomain homes.
    rewrite ^/([^/]*)$ /$1/ redirect; # add trailing slash if missing
    location / {
      # proxy everything else to the old Federalist S3 bucket
      proxy_pass http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18f/;
    }
  }

  # -- Custom domain redirects for various Federalist-hosted sites
  {% include "_federalist-redirects.njk" %}
  # -- end custom domain redirects
}
